<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hry.igoods.mapper.TbAwardMapper" >
  <resultMap id="BaseResultMap" type="com.hry.igoods.pojo.TbAward" >
    <id column="award_id" property="awardId" jdbcType="INTEGER" />
    <result column="award_name" property="awardName" jdbcType="VARCHAR" />
    <result column="award_desc" property="awardDesc" jdbcType="VARCHAR" />
    <result column="award_img" property="awardImg" jdbcType="VARCHAR" />
    <result column="point" property="point" jdbcType="INTEGER" />
    <result column="priority" property="priority" jdbcType="INTEGER" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="expire_time" property="expireTime" jdbcType="TIMESTAMP" />
    <result column="last_edit_time" property="lastEditTime" jdbcType="TIMESTAMP" />
    <result column="enable_status" property="enableStatus" jdbcType="INTEGER" />
    <result column="shop_id" property="shopId" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    award_id, award_name, award_desc, award_img, point, priority, create_time, expire_time, 
    last_edit_time, enable_status, shop_id
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.hry.igoods.pojo.TbAwardExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tb_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from tb_award
    where award_id = #{awardId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from tb_award
    where award_id = #{awardId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.hry.igoods.pojo.TbAwardExample" >
    delete from tb_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.hry.igoods.pojo.TbAward" >
    insert into tb_award (award_id, award_name, award_desc, 
      award_img, point, priority, 
      create_time, expire_time, last_edit_time, 
      enable_status, shop_id)
    values (#{awardId,jdbcType=INTEGER}, #{awardName,jdbcType=VARCHAR}, #{awardDesc,jdbcType=VARCHAR}, 
      #{awardImg,jdbcType=VARCHAR}, #{point,jdbcType=INTEGER}, #{priority,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{expireTime,jdbcType=TIMESTAMP}, #{lastEditTime,jdbcType=TIMESTAMP}, 
      #{enableStatus,jdbcType=INTEGER}, #{shopId,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.hry.igoods.pojo.TbAward" >
    insert into tb_award
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="awardId != null" >
        award_id,
      </if>
      <if test="awardName != null" >
        award_name,
      </if>
      <if test="awardDesc != null" >
        award_desc,
      </if>
      <if test="awardImg != null" >
        award_img,
      </if>
      <if test="point != null" >
        point,
      </if>
      <if test="priority != null" >
        priority,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="expireTime != null" >
        expire_time,
      </if>
      <if test="lastEditTime != null" >
        last_edit_time,
      </if>
      <if test="enableStatus != null" >
        enable_status,
      </if>
      <if test="shopId != null" >
        shop_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="awardId != null" >
        #{awardId,jdbcType=INTEGER},
      </if>
      <if test="awardName != null" >
        #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardDesc != null" >
        #{awardDesc,jdbcType=VARCHAR},
      </if>
      <if test="awardImg != null" >
        #{awardImg,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        #{point,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        #{shopId,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hry.igoods.pojo.TbAwardExample" resultType="java.lang.Integer" >
    select count(*) from tb_award
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update tb_award
    <set >
      <if test="record.awardId != null" >
        award_id = #{record.awardId,jdbcType=INTEGER},
      </if>
      <if test="record.awardName != null" >
        award_name = #{record.awardName,jdbcType=VARCHAR},
      </if>
      <if test="record.awardDesc != null" >
        award_desc = #{record.awardDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.awardImg != null" >
        award_img = #{record.awardImg,jdbcType=VARCHAR},
      </if>
      <if test="record.point != null" >
        point = #{record.point,jdbcType=INTEGER},
      </if>
      <if test="record.priority != null" >
        priority = #{record.priority,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null" >
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.expireTime != null" >
        expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.lastEditTime != null" >
        last_edit_time = #{record.lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.enableStatus != null" >
        enable_status = #{record.enableStatus,jdbcType=INTEGER},
      </if>
      <if test="record.shopId != null" >
        shop_id = #{record.shopId,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update tb_award
    set award_id = #{record.awardId,jdbcType=INTEGER},
      award_name = #{record.awardName,jdbcType=VARCHAR},
      award_desc = #{record.awardDesc,jdbcType=VARCHAR},
      award_img = #{record.awardImg,jdbcType=VARCHAR},
      point = #{record.point,jdbcType=INTEGER},
      priority = #{record.priority,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      expire_time = #{record.expireTime,jdbcType=TIMESTAMP},
      last_edit_time = #{record.lastEditTime,jdbcType=TIMESTAMP},
      enable_status = #{record.enableStatus,jdbcType=INTEGER},
      shop_id = #{record.shopId,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hry.igoods.pojo.TbAward" >
    update tb_award
    <set >
      <if test="awardName != null" >
        award_name = #{awardName,jdbcType=VARCHAR},
      </if>
      <if test="awardDesc != null" >
        award_desc = #{awardDesc,jdbcType=VARCHAR},
      </if>
      <if test="awardImg != null" >
        award_img = #{awardImg,jdbcType=VARCHAR},
      </if>
      <if test="point != null" >
        point = #{point,jdbcType=INTEGER},
      </if>
      <if test="priority != null" >
        priority = #{priority,jdbcType=INTEGER},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="expireTime != null" >
        expire_time = #{expireTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastEditTime != null" >
        last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="enableStatus != null" >
        enable_status = #{enableStatus,jdbcType=INTEGER},
      </if>
      <if test="shopId != null" >
        shop_id = #{shopId,jdbcType=INTEGER},
      </if>
    </set>
    where award_id = #{awardId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hry.igoods.pojo.TbAward" >
    update tb_award
    set award_name = #{awardName,jdbcType=VARCHAR},
      award_desc = #{awardDesc,jdbcType=VARCHAR},
      award_img = #{awardImg,jdbcType=VARCHAR},
      point = #{point,jdbcType=INTEGER},
      priority = #{priority,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      expire_time = #{expireTime,jdbcType=TIMESTAMP},
      last_edit_time = #{lastEditTime,jdbcType=TIMESTAMP},
      enable_status = #{enableStatus,jdbcType=INTEGER},
      shop_id = #{shopId,jdbcType=INTEGER}
    where award_id = #{awardId,jdbcType=INTEGER}
  </update>
</mapper>